@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&display=swap");

@keyframes movie-tn {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(0deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --fontMontserrat: "Montserrat", sans-serif;
  --fontLato: "Lato", sans-serif;
  --fontOpensans: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  background: #17181f;
  height: 100px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* Header Page */

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu img {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 3;
}

#menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  position: relative;
  z-index: 3;
}

#menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 26px;
  line-height: 32px;
  font-family: var(--fontMontserrat);
}

#icons-menu img {
  width: 32px;
  height: 32px;
  margin: 10px;
}

#icons-menu a {
  text-decoration: none;
}

/* First Section */

#s1 {
  background-color: #17181f;
}

#container-1 {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#container-1 h1 {
  font-size: 76px;
  color: rgba(238, 237, 240, 0.85);
  text-align: center;
  letter-spacing: 1px;
  padding-top: 50px;
  position: relative;
  z-index: 2;
  font-family: var(--fontMontserrat);
}

#container-1 img {
  position: absolute;
  top: -110px;
  right: 170px;
  z-index: 1;
  animation: movie-tn 1s;
}

#background-tns {
  background: rgba(203, 105, 193, 0.15);
  filter: blur(30px);
  width: 300px;
  height: 300px;
  position: absolute;
  top: 190px;
  right: 400px;
}

#container-1 span {
  display: inline-block;
  font-size: 280px;
  text-align: center;
  letter-spacing: 75px;
  color: rgba(238, 237, 240, 0.1);
  font-weight: bold;
  position: relative;
  left: 35px;
  z-index: 0;
  font-family: var(--fontMontserrat);
}

#container-1 p {
  font-size: 28px;
  letter-spacing: 1px;
  color: #eeedf0;
  margin-top: 50px;
  padding-bottom: 100px;
  font-family: var(--fontLato);
}

.line {
  width: 150px;
  height: 10px;
  background: #cb69c1;
  border-radius: 25px;
  margin-bottom: 100px;
}

/* Second Section*/

#s2 {
  background-color: #6c72cb;
  height: 770px;
}

#container-2 p {
  padding-top: 30px;
  font-size: 30px;
  font-family: var(--fontMontserrat);
  letter-spacing: 1px;
  color: rgba(238, 237, 240, 0.9);
}

#container-2 img {
  position: relative;
  z-index: 1;
  left: 75px;
}

#container-2 h1 {
  font-size: 170px;
  font-family: var(--fontLato);
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
  left: 10px;
  bottom: 400px;
  color: rgba(238, 237, 240, 0.58);
}

#container-2 span {
  color: rgba(238, 237, 240, 0.9);
  font-size: 56px;
  letter-spacing: 1px;
  position: relative;
  left: 740px;
  bottom: 234px;
  font-family: var(--fontMontserrat);
}
#container-2 div#balls-dec {
  background: #17181f;
  color: white;
  position: relative;
  left: 900px;
  bottom: 290px;
  text-align: center;
  padding-top: 15px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* Third Section */

#s3 {
  background: #17181f;
}

#container-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 110px;
}

#container-box {
  display: flex;
  gap: 150px;
}

#container-4 {
  padding-bottom: 150px;
}

.box {
  background: rgb(203, 105, 193);
  background: linear-gradient(
    273deg,
    rgba(203, 105, 193, 1) 5%,
    rgba(108, 114, 203, 1) 60%
  );
  text-align: center;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 500ms;
  filter: brightness(0.7);
  cursor: pointer;
}

.box:hover {
  transform: scale(1.1);
  filter: brightness(1);
}

.box p {
  position: relative;
  top: -20px;
  font-size: 15px;
  color: white;
  font-family: var(--fontMontserrat);
}

.box img {
  width: 200px;
  height: 200px;
  position: relative;
  top: -40px;
}

#mini-balls {
  display: flex;
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 115px;
}

.balls {
  height: 20px;
  width: 20px;
  background: #6c72cb;
  border-radius: 20px;
}

.active {
  background-color: purple;
}

/* Footer Page */

footer {
  background-color: #17181f;
}

#footercontent {
  display: flex;
  justify-content: center;
  gap: 90px;
}

#footercontent ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#footercontent ul li a {
  text-decoration: none;
}

.font-sans {
  font-family: var(--fontOpensans);
  color: white;
}

.font-lato {
  font-family: var(--fontLato);
  color: #cb69c1;
}

#media {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social img {
  background: rgb(203, 105, 193);
  background: linear-gradient(
    273deg,
    rgba(203, 105, 193, 1) 5%,
    rgba(108, 114, 203, 1) 60%
  );
  border-radius: 100%;
  padding: 5px;
  width: 30px;
  height: 30px;
}
