/* Header Page */

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu img {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 3;
}

#menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    position: relative;
    z-index: 3;
}

#menu ul li a {
    /* text-decoration: none; */
    color: white;
    font-size: 26px;
    line-height: 32px;
    font-family: var(--fontMontserrat);
}

#menu ul li .route-active {
    color: yellow;
}

#menu ul li .route-inactive {
    text-decoration: none;
}

#icons-menu img {
    width: 32px;
    height: 32px;
    margin: 10px;
}

#icons-menu a {
    text-decoration: none;
}